*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
.single-product{
    margin-top: 30px;
}
.small-img-row{
    display: flex;
    padding-top: 10px;
    
    justify-content:space-between;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.small-img-col{
    flex-basis: 52px;
    cursor:pointer;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;

}
.col-2{
    flex-basis: 40%;
    min-width: 300px;
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 5px 0px;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(105, 67, 67);
}
input:focus{
    outline: none;
}
a{
    text-decoration: none;
    color: rgb(252, 252, 254);
}
.single-product.fa{
    color: rgb(138, 65, 29);
    margin-left: 10px;
}
p{
    color: #552;
}
.btn{
    display: inline-block;
    background: rgb(243, 102, 20);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 15px;
    transition:  0.5s;
}
.btn:hover{
    background:rgb(210, 156, 56);
}
.star :hover{
    color:goldenrod;

}